body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #f8fafc;
}

header{
    background-color: #1f2937;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

header img{
    width: 30px;
    order: -1;
}

header p{
    font-size: 15px;
}


h2{
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #1f2937;
    text-align: center;
}

button{
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 535px;
}

input{
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.btn{
    position: relative;
    padding-left: 46px;
}

.btn-icon{
    position: absolute;
    left: 12px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: opacity 120ms ease-in-out;
}

.btn-icon--default{
    opacity: 0.75;
}

.btn-icon--swap{
    opacity: 0;
}

.btn:hover .btn-icon--default{
    opacity: 0;
}
.btn:hover .btn-icon--swap{
    opacity: 1;
}

#login{
    display: flex;
    justify-content: center;
    width: 100%;
}

